<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ksmart.pentagon.mypage.BookReportMapper">
  	<resultMap type="ksmart.pentagon.vo.BookReport" id="bookReport">
	    <result column="b_report_code" property="bReportCode"/>
	    <result column="l_code" property="lCode"/>
	    <result column="u_id" property="uId"/>
	    <result column="u_name" property="uName"/>
	    <result column="bi_isbn" property="biIsbn"/>
	    <result column="bi_name" property="biName"/>
	    <result column="bi_img" property="biImg"/>
	    <result column="b_report_title" property="bReportTitle"/>
	    <result column="b_report_content" property="bReportContent"/>
	    <result column="b_report_open" property="bReportOpen"/>
	    <result column="b_report_star" property="bReportStar"/>
	    <result column="b_page_view" property="bPageView"/>
	    <result column="b_report_date" property="bReportDate"/>
	    <result column="comment_cnt" property="commentCnt"/>
	</resultMap>
	 <resultMap type="ksmart.pentagon.vo.BookInformation" id="bookInfo">
	    <result column="bi_isbn"      property="biIsbn"/>
	    <result column="bi_name"      property="biName"/>
	    <result column="bi_publisher"      property="biPublisher"/>
	    <result column="bi_author"    property="biAuthor"/>
 </resultMap>
 <resultMap type="ksmart.pentagon.vo.BoardComment" id="boardComment">	
		<result property="boardCCode" column="board_c_code"/>				
		<result property="lCode" column="l_code"/>							
		<result property="uId" column="u_id"/>	
		<result property="uName" column="u_name"/>	
		<result property="bReportCode" column="b_report_code"/>				
		<result property="boardCContent" column="board_c_content"/>			
		<result property="boardCOpen" column="board_c_open"/>				
		<result property="boardCDate" column="board_c_date"/>				
	</resultMap>
	<select id="bookReportCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT 
			COUNT(1)
		FROM 
			book_report AS br
		WHERE 
			br.l_code = #{libNum}
		AND 
			br.b_report_open = 'O'	
		<if test="sk != null and sk neq ''.toString() and sv != null and sv neq ''.toString()"> 
			AND CONCAT ('br.',${sk}) Like CONCAT ('%',#{sv},'%')		
		</if>
		<if test="svDate != null and svDate neq ''.toString()">
			<![CDATA[ 
				AND br.b_report_date >= #{svDate}
			]]>	
		</if>
		ORDER BY br.b_report_date  DESC	
	</select>
	<select id="bookReportList" resultMap="bookReport" parameterType="java.util.HashMap">
  		SELECT 
			br.b_report_code
			, u.u_name
			, bi.bi_img
			, br.b_report_title
			, br.b_report_content
			, br.b_page_view
			, br.b_report_date
		FROM 
			book_report AS br
		INNER JOIN
			book_information AS bi
		ON 
			br.bi_isbn = bi.bi_isbn
		INNER JOIN
			user AS u
		ON
			br.u_id = u.u_id	
		WHERE 
			br.l_code = #{libNum}
		AND 
			br.b_report_open = 'O'		
		<if test="sk != null and sk neq ''.toString() and sv != null and sv neq ''.toString()"> 
			AND CONCAT ('br.',${sk}) Like CONCAT ('%',#{sv},'%')		
		</if>
		<if test="svDate != null and svDate neq ''.toString()">
			<![CDATA[ 
				AND br.b_report_date >= #{svDate}
			]]>	
		</if>
		<if test="startRow neq null and rowPerPage neq null"> 
	            ORDER BY br.b_report_code  DESC
	            LIMIT #{startRow},#{rowPerPage}
        </if>	
 	</select>
 	<select id="myBookReportCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		SELECT 
			COUNT(1)
		FROM 
			book_report AS br
		WHERE 
			br.l_code = #{libNum}
		AND 
			br.u_id = #{uId}
		<if test="sk != null and sk neq ''.toString() and sv != null and sv neq ''.toString()"> 
			AND CONCAT ('br.',${sk}) Like CONCAT ('%',#{sv},'%')		
		</if>
		<if test="open != null and open neq ''.toString()"> 
			AND br.b_report_open = #{open}		
		</if>
		<if test="svDate != null and svDate neq ''.toString()">
			<![CDATA[ 
				AND br.b_report_date >= #{svDate}
			]]>	
		</if>
		ORDER BY br.b_report_code  DESC	
	</select>
	<select id="myBookReportList" resultMap="bookReport" parameterType="java.util.HashMap">
  		SELECT 
			br.b_report_code
			, u.u_name
			, bi.bi_img
			, br.b_report_title
			, br.b_report_content
			, br.b_page_view
			, br.b_report_date
		FROM 
			book_report AS br
		INNER JOIN
			book_information AS bi
		ON 
			br.bi_isbn = bi.bi_isbn
		INNER JOIN
			user AS u
		ON
			br.u_id = u.u_id	
		WHERE 
			br.l_code = #{libNum}
		AND 
			br.u_id = #{uId}		
		<if test="sk != null and sk neq ''.toString() and sv != null and sv neq ''.toString()"> 
			AND CONCAT ('br.',${sk}) Like CONCAT ('%',#{sv},'%')		
		</if>
		<if test="open != null and open neq ''.toString()"> 
			AND br.b_report_open = #{open}		
		</if>
		<if test="svDate != null and svDate neq ''.toString()">
			<![CDATA[ 
				AND br.b_report_date >= #{svDate}
			]]>	
		</if>
		<if test="startRow neq null and rowPerPage neq null"> 
	            ORDER BY br.b_report_code  DESC
	            LIMIT #{startRow},#{rowPerPage}
        </if>	
 	</select>
 	<select id="booKInfo" parameterType="java.lang.String" resultMap="bookInfo">
 	SELECT 
		bi_isbn
		, bi_name
		, bi_publisher
		, bi_author
	FROM book_information
	WHERE
		bi_name Like CONCAT ('%',#{biName},'%')			
 	</select>
 	<insert id="bookReportInsert" parameterType="ksmart.pentagon.vo.BookReport">
 		<selectKey keyProperty="bReportCode" resultType="java.lang.String" order="BEFORE">
		  	SELECT 
			CONCAT('br-',DATE_FORMAT(CURDATE(), '%y%m%d'),
				(IF(DATE_FORMAT(CURDATE(),'%y%m%d') > LEFT(SUBSTRING_INDEX(MAX(br.b_report_code), '-', -1),6) 
				, '00001' 
				,LPAD(RIGHT(MAX(br.b_report_code),5)+1,5,'0')))) AS bReportCode
			FROM 
				book_report as br
		</selectKey>
		INSERT INTO book_report(
			b_report_code
			, l_code
			, u_id
			, bi_isbn
			, b_report_title
			, b_report_content
			, b_report_open
			, b_report_star
			, b_page_view
			, b_report_date)
		VALUES (
			#{bReportCode}
			, #{lCode}
			, #{uId}
			, #{biIsbn}
			, #{bReportTitle}
			, #{bReportContent}
			, #{bReportOpen}
			, ${bReportStar}
			, 0
			, CURDATE())
 	</insert>
 	<update id="viewUpdate" parameterType="java.lang.String">
 		UPDATE
			book_report
		SET
			b_page_view = book_report.b_page_view + 1
		WHERE b_report_code = #{boardCode}
 	</update>
 	<select id="bookReportDetail" parameterType="java.lang.String" resultMap="bookReport" >
 		SELECT br.b_report_code
				, br.u_id
				, u.u_name
				, bi.bi_name
				, br.bi_isbn
				, br.b_report_title
				, br.b_report_content
				, br.b_report_star
				, br.b_page_view
				, br.b_report_date
				,(SELECT COUNT(1) FROM  board_comment AS bc WHERE bc.b_report_code = br.b_report_code) AS comment_cnt
		FROM book_report AS br
		INNER JOIN user AS u
		ON br.u_id = u.u_id
		INNER JOIN book_information AS bi
		ON br.bi_isbn = bi.bi_isbn
		WHERE br.b_report_code = #{bReportCode}
 	</select>
 	<select id="bookReportComment" parameterType="java.lang.String" resultMap="boardComment">
 		SELECT bc.board_c_code
				, bc.u_id
				, u.u_name
				, bc.b_report_code
				, bc.board_c_content
				, bc.board_c_open
				, bc.board_c_date
		FROM 
			board_comment AS bc
		INNER JOIN 
			user AS u
		ON bc.u_id = u.u_id	
		WHERE b_report_code = #{bReportCode}
		ORDER BY bc.board_c_date desc
 	</select>
 	<select id="getBookReport" parameterType="java.lang.String" resultMap="bookReport" >
 		SELECT br.b_report_code
				, br.bi_isbn
				, bi.bi_name
				, br.b_report_title
				, br.b_report_content
				, br.b_report_open
				, br.b_report_star
				, br.b_page_view
				, br.b_report_date
		FROM book_report AS br
		INNER JOIN user AS u
		ON br.u_id = u.u_id
		INNER JOIN book_information AS bi
		ON br.bi_isbn = bi.bi_isbn
		WHERE br.b_report_code = #{bReportCode}
 	</select>
 	<update id="bookReportUpdate" parameterType="ksmart.pentagon.vo.BookReport">
 		UPDATE book_report
		SET
			b_report_title= #{bReportTitle},
			b_report_content= #{bReportContent},
			b_report_open= #{bReportOpen},
			b_report_star= ${bReportStar}
		WHERE 
			b_report_code = #{bReportCode}
 	</update>
 	<delete id="bookReportDelete" parameterType="java.lang.String">
 		DELETE FROM book_report 
		WHERE b_report_code=#{bReportCode}
 	</delete>
  </mapper>
